body {
    margin: 0px;
    background-color: rgb(3, 3, 3);
  }
  header {
    background:linear-gradient(to bottom, #000000, #343434, #000000);
    margin: 0px;
  }
  .head_container{
    max-width: 80%;
    margin: 0px auto;
    margin-bottom: 0px;
  }
  .inter-header {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
  @font-face {
    font-family: myFont;
    src: url(Miama.ttf);
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }

  .link_a {
    display: flex;
    margin: 0px 0px;
  }

  .common_btn {
    background-color: #a34400;
    border: none;
    color: aliceblue;
    padding: 10px;
    border-radius: 42px;
    font-size: 18px;
    width: 200px;
  }
  .common_btn_1 {
    background-color: rgba(19, 18, 18, .0);
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 42px;
    font-size: 18px;
    width: 200px;
    border: 1px solid white;
    margin-left: 14px;
  }

  .banner {
    display: flex;
    justify-content: space-between; 
  }
  .banner-inner {
    max-width: 500px;
    margin: 0px auto;
    margin-left: 0px;
  }
  .header_p_style {
    color: #757575;
    font-weight: normal;
    width: fit-content;
  }

  .common_color1 {
    color: #474747;
  }

  .nav_bar_border {
    border: 1px solid rgb(141, 139, 139);
    border-radius: 40px;
    margin: 0px;
    padding: 1px;
  }

  .h {
    color: #cc5500;
    font-style: italic;
    font-size: 30px;
  }

  nav div a {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    margin: 2px 25px 2px 30px;
    padding: 8px;
    font-weight: normal;
  }

  .home_bg_color {
    background-color: #cc5500;
    color: #ffffff;
    border: none;
    padding: 8px;
    padding-left: 20px;
    margin-left: 2px;
    width: 65px;
    border-radius: 20px;
    text-align: center;
  }
  .big_text_font_size {
    font-size: 40px;
    color: #ffffff;
  }

  .big_text {
    margin-bottom: -55px;
  }
  .big_text1 {
    display: inline;
  }
  .big_text2 {
    margin-top: -75px;
  }

  .shape_style {
    font-family: myFont;
    font-size: 150px;
    font-weight: normal;
    margin: 0px;
    color: #ffffff;
    margin-right: 10px;
  }
  .bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.3s;
  }
  .menu-toggle {
    display: none;
    flex-direction: column;
  }
  .play-button {
    width: 30px;
    height: 30px;
    background-color: #cc5500;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    line-height: -10px;
  }

  .play-icon {
    width: 0;
    height: 0;
    border-left: 10px solid white;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }
  .video_turorial {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 35, 35, 0.5);
    backdrop-filter: blur(5px);
    padding: 3px;
    width: 170px;
    height: 80px;
    border-radius: 15px;
    transform: translateX(-100px) translateY(-150px);
  }
  .video_h3 {
    margin-bottom: -10px;
    color: #ffffff;
  }
  .video_p {
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
  }
  .video_turorial_1 {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(99, 98, 98, 0.5);
    backdrop-filter: blur(5px);
    padding: 3px;
    width: 170px;
    height: 80px;
    border-radius: 15px;
    transform: translateX(220px) translateY(-550px); 
  }
  .video_h1{
    color: #ffffff;
    margin-bottom: -14px;
    margin-top: 7px;

  }
  .image_header{
    margin-bottom: -150px;
  }
  @media screen and (max-width: 576px) {
    .nav_bar_border {
      display: none;
    }
    .menu-toggle {
      display: flex;
    }
    .banner {
      flex-direction: column;
    }
    .big_text_font_size {
      font-size: 20px;
    }
    header {
      max-width: 95%;
      margin: 0px auto;
    }
    .banner-inner {
      width: auto;
    }

    .big_text {
      margin-bottom: -35px;
    }
    .shape_style {
      font-size: 80px;
    }
    .big_text2 {
      margin-top: -40px;
    }
    .common_btn {
    font-size: 15px;
    width: 130px;
    }
    .common_btn_1 {
      font-size: 15px;
      width: 130px; 
    }
    .video_turorial {
      transform: translateX(-3px) translateY(-320px);
      padding: 0px;
    }
    .video_turorial_1 {
      transform: translateX(200px) translateY(-600px);
      padding: 0px;
    }
    header{
      max-width: 100%;
      margin: 0px auto;
    }
    .header_p_style{
        width: 280px;
    }
  }